<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospital Vitalis</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Tu estilo personalizado aquí */

        body {
            background-color: #f8f9fa;
        }

        .jumbotron {
            background-color: #007bff;
            color: #ffffff;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="display-4">Hospital Vitalis</h1>
        <p class="lead">Brindamos atención médica de calidad.</p>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>¡Bienvenido!</h2>
                <p>Gracias por elegir nuestro hospital para sus necesidades médicas. Estamos comprometidos a proporcionarle atención de la más alta calidad.</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.pinimg.com/564x/ca/c0/c7/cac0c71d7e3fdd724a5ea71cf3880505.jpg" class="img-fluid" alt="Hospital Image">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Nuestros Servicios</h3>
                <ul>
                    <li>Consulta médica</li>
                    <li>Atención de emergencia</li>
                    <li>Pruebas de laboratorio</li>
                    <!-- Agrega más servicios según sea necesario -->
                </ul>
            </div>

        <!-- Botón de redirección -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="http://127.0.0.1:8000/nuevasolicitud/" class="btn btn-primary">Nueva Solicitud</a>
            </div>
        </div>
    </div>


    <br>
    <hr>
    <footer class="footer">
        <div class="container">
            <p>Contacto: <a href="mailto:contacto@hospitalvitalis.com">PaulAstudillo@hospitalVitalis.com</a></p>
            <p>Contacto: <a href="mailto:contacto@hospitalvitalis.com">AndresAlvarado@hospitalVitalis.com</a></p>
            <p class="copyright" id="current-date"></p>
        </div>
        <div class="col-md-6">
            <h3>Contacto</h3>
            <p>Dirección: Calle Principal, Cuenca-Azuay</p>
            <p>Teléfono: +123 456 789</p>
        </div>
    </div>
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Tu código JavaScript personalizado aquí -->

</body>
</html>
